.headline {
text-align:center;


   .pre-headline {
        font-size: 1.2em;
        color: #838383;
        &.pre-headline--uppercase {
            text-transform: uppercase;
        }
   }
   .headline-title{
       span { color: #6270ff;}
   }

   .post-headline{
       font-size: 1.8em;
       color: #838383;
       font-weight: 50px;
       text-align:center;
   } 
}