// Global
$primary : #FFFFFF;  //COULEUR PRINCIPAL
$default_font_size: 16px;

// Colors

$white: #FFFFFF;
$black: #000000;

// Menu
$background_phone: #6270ff; //Background phone logo in nav bar
$text_nav_color: #2e2e2e; //Text color of nav bar

// Grid
$sm: 600px; //Mobile
$md: 900px; //Tablette
$lg: 1200px; //Fixe

$container_max: 1280px;
$total_col: 12;
$gutter: 15;

//Footer
$color_background_footer: #03062f;
$color_text_footer: #6270ff;

