h1 {
  margin: 0;
  font-size: 3.4em;
  color: #2e2e2e; }

h2 {
  margin: 0;
  font-size: 3em;
  color: #2e2e2e; }

h3 {
  margin: 0;
  font-size: 2.4em;
  color: #2e2e2e; }

h4 {
  margin: 0;
  font-size: 2em;
  color: #2e2e2e; }

h5 {
  margin: 0;
  font-size: 1.6em;
  color: #2e2e2e; }

h6 {
  margin: 0;
  font-size: 1.4em;
  color: #2e2e2e; }
