/**
    Les fontionalités de cette mixin sont spécificique à ce site
    font-style:     normal 
                    italic

    font-weight:    normal (400)
                    medium (500)
                    bold (700)
                    extrabold (800)
                    
**/

@mixin fonts($family, $style, $weight){
    font-family: $family,sans-serif;
     

    @if $style == normal && $weight == normal{
        src: url(../../font/Bw_Modelica/BwModelica-Regular.woff) format("woff");
        font-style: normal;
        font-weight: 400; //Normal
    } @else if $style == normal && $weight == medium{
        src: url(../../font/Bw_Modelica/BwModelica-Medium.woff) format("woff");
        font-style: normal;
        font-weight: 500; //Medium
    } @else if $style == normal && $weight == bold{
        src: url(../../font/Bw_Modelica/BwModelica-Bold.woff) format("woff");
        font-style: normal;
        font-weight: bold; //700
    } @else if $style == normal && $weight == 800{
        src: url(../../font/Bw_Modelica/BwModelica-ExtraBold.woff) format("woff");
        font-style: normal;
        font-weight: 800; //Extra Bold
    } @else if $style == italic && $weight == normal{
        src: url(../../font/Bw_Modelica/BwModelica-RegularItalic.woff) format("woff");
        font-style: italic;
        font-weight: normal;  
    } @else if $style == italic && $weight == bold{
        src: url(../../font/Bw_Modelica/BwModelica-BoldItalic.woff) format("woff");
        font-style: italic;
        font-weight: bold;
    } @else {
        background-color:yellow;
    }
}